<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konnect - Register</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM Sans:100,200,300,400,500,600,700,800,900" />
    <link rel="icon" href="/assets/icon.png" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/output.css" />
</head>

<body class="bg-gray">
    <main class="
        regis
        flex
        w-screen
        h-screen
        overflow-hidden
        justify-center
        items-center
      ">
        <div class="registered-content flex flex-col w-1/3 items-center">
            <img src="/assets/hand.svg" class="w-72" alt="" />
            <h1 class="text-purple text-4xl font-medium mb-8 text-center">
                Post a project
            </h1>
            <p class="text-center">
                List a project or idea you have to find colabborators and get started.
            </p>
            <div class="btns flex mt-10">
                <button class="
              px-20
              py-2
              flex
              rounded-md
              justify-center
              items-center
              text-base
              bg-purple
              font-light
              text-white
              mx-3
            ">
            Proceed
          </button>
                <a href="/dashboard">
                    <button class="
              px-20
              py-2
              flex
              rounded-md
              justify-center
              items-center
              text-base
              bg-white
              font-light
              text-purple
              mx-3
            ">
            Skip for now
          </button>
                </a>
            </div>
        </div>
    </main>
</body>

</html>