label {
    font-size: 1.4vw !important;
}
.unnav button {
    color: #717171;
    position: relative;
}
.unnav button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #6067ed;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transition: all 0.3s;
}
#remove {
    border: 2px solid #ff7070;
    transition: all 0.3s;
}
#remove:hover {
    background-color: #ff7070;
    color: #fff;
}
.unnav-act {
    color: #6067ed !important;
}
.unnav-act::after {
    opacity: 1 !important;
}
